.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.introduction {
    padding-left:250px;
    padding-right:250px;
}

/* colors and positions the banner.*/
.header-container {
    position: relative;
    text-align: center;
    color: white;
}

/* styles the header for the homepage.*/
.header {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    object-position: 0% 40%;
}

/* styles the author text in the home page header. */
.author-text {
    color: whitesmoke;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* styles the header text in the home page header. */
.header-text {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-element {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.middle-element {
    display: inline-block;
    text-align: center;
}

.right-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.map-modes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliders {
    text-align: center;
}

.bar-charts {
    position: relative;
    transform: translate(50%, 0%);
    width: 50%;
    text-align: center;
}
